<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>QEMU Generator</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="./style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app" class="section">
    <div class="container">
      <h1 class="title has-text-centered">QEMU Configurator</h1>

      <div class="columns">
        <div class="column is-4">
          <div class="card p-5">
            <!-- -->
            <div class="columns mb-0">
              <div class="column">
                <div class="field">
                  <label class="label">Configuration Preset</label>
                  <div class="select is-fullwidth">
                    <select v-model="form.preset" @change="usePreset()">
                      <option value="" disabled>Custom</option>
                      <option v-for="p in preset_keys" :value="p">{{ PRESET_MATRIX[p].title }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <label class="label">QEMU Architecture</label>
                  <div class="select is-fullwidth">
                    <select v-model="form.arch" @change="usePreset()">
                      <option v-for="a in arch_keys" :value="a">{{ ARCH_MATRIX[a].name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <p class="mb-3">{{ PRESET_MATRIX[form.preset]?.desc || "-" }}</p>
            <!-- -->

            <div class="columns mb-0">
              <div class="column"><label class="label">RAM (GB)</label><input v-model="form.ram" class="input" min="1" max="128"
                  step="1" type="number"></div>
              <div class="column"><label class="label">vCPUs</label><input v-model="form.smp" class="input" min="1" max="128"
                  type="number"></div>
            </div>
            <label class="label">Machine</label>
            <div class="select is-fullwidth">
              <select v-model="form.machine">
                <option v-for="c in machine_keys" :value="c">{{ MACHINES[c] }}</option>
              </select>
            </div>
            <button class="button mb-3 is-small is-fullwidth is-outlined" :disabled="!['x86_64'].includes(form.arch)"
              @click="form.uefi = form.uefi == true ? false : true ">
              UEFI {{ form.uefi || !['x86_64', 'i386'].includes(form.arch) ? '✅' : '❌' }}
            </button>
            <!-- -->
            <div class="field">
              <label class="label">CPU</label>
              <div class="select is-fullwidth">
                <select v-model="form.cpu">
                  <optgroup v-for="p in preset_keys" :value="p" :label="PRESET_MATRIX[p].title">
                    <option v-for="c in cpu_keys.filter(x => PRESET_MATRIX[p].cpu.includes(x))" :value="c">{{ CPUS[c] }}
                    </option>
                  </optgroup>
                </select>
              </div>
              <button class="button is-small is-fullwidth is-outlined" :disabled="!['host', 'max', 'qemu32', 'qemu64'].includes(form.cpu)"
                @click="toggleKvm()">
                Hardware accelerated {{ form.kvm && ['host', 'qemu32', 'qemu64'].includes(form.cpu) ? '✅' : '❌' }}
              </button>
            </div>
            <!-- -->
            <div class="field">
              <label class="label">Display</label>
              <div class="select is-fullwidth">
                <select v-model="form.display">
                  <optgroup v-for="p in preset_keys" :value="p" :label="PRESET_MATRIX[p].title">
                    <option v-for="d in display_keys.filter(x => PRESET_MATRIX[p].display.includes(x))" :value="d">{{
                      DISPLAYS[d] }}
                    </option>
                  </optgroup>
                </select>
              </div>
              <button class="button is-small is-fullwidth is-outlined" :disabled="!DISPLAYS_OPT[form.display]?.gl"
                @click="form.display_gpu = !form.display_gpu">
                OpenGL accelerated {{ form.display_gpu && DISPLAYS_OPT[form.display]?.gl ? '✅' : '❌' }}
              </button>
            </div>
            <!-- -->
            <div class="field">
              <label class="label">Disk</label>
              <div class="select is-fullwidth">
                <select v-model="form.disk">
                  <optgroup v-for="p in preset_keys" :value="p" :label="PRESET_MATRIX[p].title">
                    <option v-for="c in disk_keys.filter(x => PRESET_MATRIX[p].disk.includes(x))" :value="c">{{ DISKS[c]
                      }}</option>
                  </optgroup>
                </select>
              </div>
              <input v-model="form.diskpath" class="input" placeholder="Enter disk file name (comma separated)" />
            </div>
            <!-- -->
            <div class="field">
              <label class="label">Media</label>
              <div class="select is-fullwidth">
                <select v-model="form.media">
                  <optgroup v-for="p in preset_keys" :value="p" :label="PRESET_MATRIX[p].title">
                    <option v-for="c in media_keys.filter(x => PRESET_MATRIX[p].media.includes(x))" :value="c">{{
                      MEDIAS[c]
                      }}</option>
                  </optgroup>
                </select>
              </div>
              <input v-model="form.mediapath" class="input" placeholder="Enter image file name" />
            </div>
            <!-- -->
            <button class="button is-primary is-fullwidth mt-4" @click="saveToLocal">Save Configuration</button>
          </div>
        </div>

        <div class="column">
          <label class="label">Your Operating System</label>
          <div class="select is-fullwidth">
            <select v-model="form.os">
              <option v-for="(data, key) in OS_MATRIX" :value="key">{{ data.name }}</option>
            </select>
          </div>
          <div class="is-command">
            <pre style="background:transparent; color:inherit; border:none;">{{ cmd }}</pre>
          </div>

          <h3 class="subtitle is-6 mt-5">Saved Presets</h3>
          <div class="buttons">
            <span v-for="(save, idx) in saved" :key="idx" class="button is-info is-light is-medium"
              style="cursor:pointer" @click="loadFromLocal(save)">
              {{ save.name }} ({{ save.arch }})
              <button class="delete is-small" @click.stop="removeSave(idx)"></button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="config.js"></script>
  <script src="main.js"></script>
</body>

</html>